#logo{
	height: 64px;
    width: 84px;
    margin-left: 20%;
}

.menu-color{
	color: #ffffff !important;
}

.text-portada {
	color: #00838f ;
  font-size: 30px;
}

#portada {
	position: relative;
	text-align: center;
	top: -20px;
}

/*texto rotativo inicio*/
.tricker {
  height: 50px;
  overflow: hidden;
  margin: 40px auto 20px;
}
.tricker h2 {
  color: #212121;
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  transition: margin-top .3s ease;
}
.subline {
  width: 100px;
  height: 2px;
  margin: 10px auto;
  background-color: #181818;
}

p {
	color: #424242;
}

/*texto rotativo fin*/
.cont-cart {
	margin-right: 0px !important;
	margin-left: 0px !important;
	width: 25% !important; 
	margin: 50px !important; 
	display: inline-block;
	position:relative !important;

}

.style-form-admin {
  position: relative;
  width: 60%; 
  margin-left: 400px !important;
}

/*inicio admin ventas*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.patreon-ad {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 299px;
    background-color: #fff;
    z-index: 1000;
    border-top: 1px solid rgba(0,0,0,0.14);
}
/*fin admin ventas*/
